vendor
composer.lock
.direnv
.idea

.phpstan

.php-cs-fixer.cache

phpunit.xml
.phpunit.result.cache
.phpunit.cache
coverage

var

.pre-commit-config.yaml

docs/node_modules
docs/src/.vuepress/dist
docs/src/reference.yaml
