parameters:
    level: 6
    paths:
        - src/
        - tests/
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    tmpDir: %currentWorkingDirectory%/.phpstan
    excludePaths:
        - tests/*/var/*
