<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    cacheDirectory=".phpunit.cache"
>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="OpenTelemetry Bundle Test Suite">
            <directory>tests/Acceptance/</directory>
            <directory>tests/Functional/</directory>
            <directory>tests/Unit/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="Zalas\PHPUnit\Globals\AttributeExtension" />
    </extensions>
</phpunit>
